{% extends 'base.html.twig' %}

{% block title %}{{ 'common.calendar'|trans }}{% endblock %}

{% block body %}

    <h1 class="border-bottom">{{ 'Calendar' | trans}}</h1>

    <div class="row">
        <div class="col-sm-12 justify-self-right"><small>{{ date() | date('m/d/Y') }}</small></div>
    </div>

    <div class="row">
        <div class="col">
            <a href="{{ path('calendar',{'year': prev_year,'month': prev_month }) }}"><i class="bi bi-caret-left fs-1"></i></a>
        </div>
        <div class="col">
            <h2 class="text-center">{{ calendar_month | date('F Y') }}</h2>
        </div>
        <div class="col text-end">
            <a href="{{ path('calendar',{'year': next_year,'month': next_month }) }}"><i class="bi bi-caret-right fs-1"></i></a>
        </div>
    </div>

    <div class="row row-cols-7">
        {% for day in day_names %}
            <div class="col border bg-info opacity-75 text-white">
                <span class="d-none d-sm-block font-weight-bold text-uppercase text-center">{{ day | trans }}</span>
                <span class="d-block d-sm-none font-weight-bold text-uppercase text-center">{{ day | trans | slice(0,1) }}</span>
            </div>
        {% endfor %}
    </div>

    {% for week in calendar %}
        <div class="row row-cols-7 ">
            {%  for day in week %}
                <div class="col border">
                    <div class="fs-6">
                        {{ day | trans }}
                    </div>
                    <ul class="list-unstyled">
                        {% if bike_requests[day] is defined  %}
                            {% for br in bike_requests[day] %}
                                <li>{{ _self.bike_request_modal(br)}}</li>
                                {% endfor %}
                            {% endif %}
                            {% if events[day] is defined  %}
                                {% for e in events[day] %}
                                <li>{{ _self.event_modal(e)}}</li>
                                {% endfor %}
                            {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {%  endfor %}

{% endblock %}

{% macro bike_request_modal(br) %}
    <button type="button" class="btn btn-info btn-sm text-start" data-bs-toggle="modal" data-bs-target="#br{{ br.id }}">
        {{ br.clientName }}
    </button>
    <div class="modal" id="br{{ br.id }}" tabindex="-1" aria-labelledby="br{{ br.id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="br{{ br.id }}Label">{{ br.clientName }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <dl>
                        <div>
                            <dt>{{ 'Height' | trans }}</dt>
                            <dd>{{ br.height }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Contact' | trans }}</dt>
                            <dd>{{ br.contact }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Request status' | trans }}</dt>
                            <dd class="bike-request-{{ br.status.value }}">{{ br.status.value }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Referred by' | trans }}</dt>
                            <dd>{{ br.referrer.name }} {{ br.referrer.pointOfContact }}<br>
                                {{ br.referrer.contactPhone }}<br>
                                {{ br.referrer.contactEmail }}
                            </dd>
                        </div>
                    </dl>
                    {% if is_granted('ROLE_ADMIN') %}
                        <p>
                            <a href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CBikeRequestCrudController&entityId={{ br.id }}">{{ 'Edit' | trans }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro event_modal(e) %}
    <button type="button" class="btn btn-info btn-sm text-start" data-bs-toggle="modal" data-bs-target="#event{{ e.id }}">
        {{ e.type.value | trans }} {{ e.name }} ({{ e.host }})
    </button>
    {# if an event spans more than one days, only create one modal and refer all the other days to the first one #}
    {%  if not e.isMultiDay %}
        <div class="modal" id="event{{ e.id }}" tabindex="-1" aria-labelledby="event{{ e.id }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="event{{ e.id }}Label">{{ e.type.value | trans }} {{ e.name }} ({{ e.host }})</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ e.start | date('m/d')}}{%  if e.isMultiDay %} - {{ e.end | date('m/d') }}{% endif %}</p>
                        <p>{{ e.note }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a href="/admin?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CEventCrudController&entityId={{ e.id }}">{{ 'Edit' | trans }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
