{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<nav class="navbar navbar-expand-lg navbar-light bg-info bg-opacity-10 border-bottom border-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-bicycle fs-1 lh-1 p-0 m-0"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav mb-2 mb-lg-0 w-100 d-flex">
                {% if pages.pages | length > 1 %}
                    {% for p in pages.pages %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('page', { slug: p.slug }) }}">{{ p.name | trans }}</a></li>
                        {% endfor %}
                {%  endif %}
                {#% if bike_inventory.bikes_available %#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bike-request') }}">{{ 'Request a bike' | trans }}</a>
                    </li>
                {#% endif %#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact-us') }}">{{ 'Contact us' | trans }}</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar') }}">Calendar</a>
                    </li>
                {%  endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'Admin' | trans }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                            <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">{{ 'Admin' | trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('settings', { type: 'distribution' }) }}">{{ 'Distribution' | trans }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('settings', { type: 'inventory' }) }}">{{ 'Inventory' | trans }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('language', { type: 'messages', language: 'en' }) }}">{{ 'en-US' | trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item flex-grow-1 text-end">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="/logout" title="{{ 'Log out' | trans }}"><i class="bi bi-box-arrow-left fs-3 text-dark"></i></a>
                    {%  else %}
                        {% if app.current_route != 'app_login' %}
                            <a href="/login" title="{{ 'Log in' | trans }}"><i class="bi bi-box-arrow-right fs-3 text-dark"></i></a>
                        {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
