{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@EasyAdmin/layout.html.twig' %}
{% block javascripts %}
    {% block importmap %}{{ importmap('ux-chartjs') }}{% endblock %}
{% endblock %}
{% block main %}
    <article>
        <h1>{{ 'Dashboard' | trans }}</h1>
        <div class="row">
            <div class="col">
                <section id="bikes">
                    <h2>{{ 'Bikes' | trans }}</h2>
                    {{ render_chart(bike_chart) }}
                </section>
            </div>
            <div class="col">
                <section id="bike_requests">
                    <h2>{{ 'Status' | trans }}</h2>
                    <dl>
                        <dt>{{ 'Pending bike requests' | trans }}</dt><dd>{{ bike_requests }}</dd>
                        <dt>{{ 'Volunteers' | trans }}</dt><dd>{{ volunteers }}</dd>
                    </dl>
                </section>
            </div>
        </div>
    </article>
{% endblock main %}
