{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@EasyAdmin/layout.html.twig' %}
{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
{% block main %}
    <article>
        <h1>{{ 'current_status' | trans }}</h1>
        <div class="row">
            <div class="col">
                <section>
                    <h2>{{ 'bikes' | trans }} <small class="text-info fs-3 fst-italic">({{ bikes_ready_for_clients }} {{ 'ready' | trans }})</small></h2></h3>
                    {{ render_chart(bike_status_chart,{'data-controller':'chartjs'}) }}
                </section>
            </div>
            <div class="col">
                <section>
                    <h2>{{ 'bike_requests' | trans }} <small class="text-info fs-3 fst-italic">({{ bike_requests }} {{ 'pending' | trans }})</small></h2>
                    {{ render_chart(bike_request_chart,{'data-controller':'chartjs'}) }}
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <section>
                    <h2>{{ 'total_bikes' | trans }} <small class="text-info fs-3 fst-italic">({{ total_bikes }} {{ 'bikes' | trans }})</small></h2>
                    {{ render_chart(bike_status_all_chart,{'data-controller':'chartjs'}) }}
                </section>
            </div>
            <div class="col">
                <section>
                    <h2>{{ 'volunteer_hours' | trans }} <small class="text-info fs-3 fst-italic">({{ total_volunteer_hours | number_format(0) }} {{ ' hours' | trans }})</small></h2>
                    {{ render_chart(volunteer_hours_chart,{'data-controller':'chartjs'}) }}
                </section>
            </div>
        </div>

    </article>
{% endblock main %}
