{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@EasyAdmin/layout.html.twig' %}
{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
{% block main %}
    <article>
        <h1>{{ 'Current Status' | trans }}</h1>
        <section id="bikes">
            <h2>{{ 'Bikes and Requests' | trans }}</h2>
            <div class="row">
                <div class="col">
                    <h3>{{ 'Bikes' | trans }} <small class="text-info fs-3 fst-italic">({{ bikes_ready_for_clients }} {{ 'ready' | trans }})</small></h3></h3>
                    {{ render_chart(bike_status_chart,{'data-controller':'chartjs'}) }}
                </div>
                <div class="col">
                    <h3>{{ 'Requests' | trans }} <small class="text-info fs-3 fst-italic">({{ bike_requests }} {{ 'pending' | trans }})</small></h3>
                    {{ render_chart(bike_request_chart,{'data-controller':'chartjs'}) }}
                </div>
            </div>
        </section>

        <section id="more">
            <h2>{{ 'Bikes Handled and Volunteers' | trans }}</h2>
            <div class="row">
                <div class="col">
                    <h3>{{ 'Bikes' | trans }} <small class="text-info fs-3 fst-italic">({{ total_bikes }} {{ 'bikes' | trans }})</small></h3>
                    {{ render_chart(bike_status_all_chart,{'data-controller':'chartjs'}) }}
                </div>
                <div class="col">
                    <h3>{{ 'Volunteer Hours' | trans }} <small class="text-info fs-3 fst-italic">({{ total_volunteer_hours }} {{ 'Volunteer hours' | trans }})</small></h3>
                    {{ render_chart(volunteer_hours_chart,{'data-controller':'chartjs'}) }}
                </div>
            </div>
        </section>
    </article>
{% endblock main %}
