{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Language' | trans }} - {{ type | trans }} - {{ language }}{% endblock %}
{% block body %}
    <h1>{{ 'Language' | trans }} - {{ type | trans }} - {{ language }}</h1>
    {{ form(form) }}
{% endblock %}
