{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'open.bike' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'organization_name'| trans }}</h1>
    {% if not bike_inventory.bikes_available %}
        <div class="row">
            <div class="col">
                <div class="alert alert-info my-2" role="alert">
                    {{ 'no_bikes'| trans }}
                </div>
            </div>
        </div>
    {% endif %}
    <article>
        <div class="row">
            <div class="col">
                <section id="overview">
                    <h2><img src="{{ org_logo }}" alt="{{ 'organization_name'|trans }} {{ 'logo' | trans }}"></h2>
                        {{ pages.home | raw }}
                </section>
                <section id="request">
                    {% include 'bike_request/form.html.twig' %}
                </section>
            </div>
        </div>
    </article>
{% endblock %}