{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'open.bike' | trans }}{% endblock %}

{% block body %}
    <article>
        <div class="row">
            <div class="col">
                <h1>{{ 'org.name'| trans }}</h1>
                <section id="overview">
                <h2><img src="{{ org_logo }}" alt="{{ 'org.name'|trans }} {{ 'logo' | trans }}"></h2>
                <p>{{ 'org.home.text'| trans }} </p>
                </section>
                <section id="request">
                    {% include 'bike_request/form.html.twig' %}
                </section>
            </div>
        </div>
    </article>
{% endblock %}