{% extends 'base.html.twig' %}

{% block title %}{{ 'open-bike' | trans }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ organization_name }}</h1>
        <p><img src="{{ logo }}" alt="{{ organization_name }} {{ 'logo' | trans }}"></p>
        <p> We repair used bikes that are donated to us and offer them at no cost to low income residents of the greater Nashua area</p>
    </article>
{% endblock %}

