{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'open-bike' | trans }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ org_name }}</h1>
        <p><img src="{{ org_logo }}" alt="{{ org_name }} {{ 'logo' | trans }}"></p>
        <p>{{ org_home_text | trans }} </p>
    </article>
{% endblock %}

