{% if bike_inventory.bikes_available %}
    <h2>{{  'Request details' | trans }}</h2>
    <p><em>{{ 'request_bike_important'| trans }}</em></p>
    <p>{{ 'request_bike_instructions' | trans }}</p>
    {{ form(bike_request_form) }}
{% else %}
    <p>{{ 'no_bikes'| trans }}</p>
{% endif %}
