<h2>{{  'Request details' | trans }}</h2>
<p><em>{{ 'request_bike_important'| trans }}</em></p>
{# quick fallback because sometimes stuff doesn't work #}
{% if request_form_file is null %}
    {% set request_form_file = asset('static/RequestForm.pdf') %}
{% endif %}
<p><a href="{{ request_form_file }}" download="BikeRequestForm.pdf" >{{ 'Request Form' | trans }}</a></p>
<p><strong>{{ 'request_bike_instructions' | trans }}</strong></p>
{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-3">
        {{ form_row(form.clientName) }}
    </div>
    <div class="col-3">
        {{ form_row(form.contact) }}
    </div>
    <div class="col-2">
        {{ form_row(form.height) }}
    </div>
</div>
<div class="row">
    <div class="col-2">
        {{ form_row(form.date) }}
    </div>
    <div class="col-4">
        {{ form_row(form.referrer) }}
    </div>
</div>

{{ form_row(form.submit, { 'label': 'Submit' }) }}
{{ form_end(form) }}