{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Appointment Instructions' | trans }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ 'Appointment Instructions' | trans }}</h1>
        <p>{{ 'org.appt.instructions' | trans }}
        <div class="row">
            <div class="col">
                <dl>
                    <dt>{{ 'Appointment date' | trans }}</dt>
                    <dd>{{ bike_request.date|date("m/d/Y") }}</dd>
                </dl>
            </div>
        </div>
    </article>
{% endblock %}