{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'print.html.twig' %}

{% block title %}{{ 'open.bike' | trans }}{% endblock %}

{% block body %}
    <article>
        <h1>{{ 'organization_name'| trans }} - {{ day | date('M d') }}</h1>
        <dl>
            {% for br in bike_requests %}
                <dt>{{ br.clientName }}</dt>
                <dd>
                    <dl>
                        <div>
                            <dt>{{ 'Height' | trans }}</dt>
                            <dd>{{ br.height }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Contact' | trans }}</dt>
                            <dd>{{ br.contact }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Request status' | trans }}</dt>
                            <dd class="bike-request-{{ br.status.value }}">{{ br.status.value }}</dd>
                        </div>
                        <div>
                            <dt>{{ 'Referred by' | trans }}</dt>
                            <dd>{{ br.referrer.name }} {{ br.referrer.pointOfContact }}<br>
                                {{ br.referrer.contactPhone }}<br>
                                {{ br.referrer.contactEmail }}
                            </dd>
                        </div>
                    </dl>
                </dd>
            {% endfor %}
        </dl>
        <dl>
            {% for e in events %}
                <dt>{{ e.type.value | trans }} {{ e.name }} ({{ e.host }})</dt>
                <dd>
                    <p>{{ e.start | date('m/d')}}{%  if e.isMultiDay %} - {{ e.end | date('m/d') }}{% endif %}</p>
                    <p>{{ e.note }}</p>
                </dd>
            {%  endfor %}
        </dl>
    </article>
{% endblock %}